


.nandan_disp_pic {
    background: url(../assets/images/team/sudip.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.dhruv_disp_pic {
    background: url(../assets/images/team/oikantika\ Nama.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.gurusha_disp_pic {
    background: url(../assets/images/team/mehek\ dhurve\ .jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.meenal_disp_pic {
    background: url(../assets/images/team/Binoy.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.mustafa_disp_pic {
    background: url(../assets/images/team/Anurag.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.opal_disp_pic {
    background: url(../assets/images/team/Taniya\ Baidya.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.yashasvi_disp_pic {
    background: url(../assets/images/team/priyanka\ .jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.yashvardhan_disp_pic {
    background: url(../assets/images/team/Payel\ Dey.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.saptarshi_disp_pic {
    background: url(../assets/images/team/SaptarshiDasgupta_Research_Executive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.adarsh_disp_pic {
    background: url(../assets/images/team/Anirban\ Dasgupta\ .jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.aditya_disp_pic {
    background: url(../assets/images/team/Ankit\ saha.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.akash_disp_pic {
    background: url(../assets/images/team/Bijoy\ paul.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.amit_disp_pic {
    background: url(../assets/images/team/Disha\ saha.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.ankita_disp_pic {
    background: url(../assets/images/team/pritiparna\ .jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.ankit_disp_pic {
    background: url(../assets/images/team/Rohit\ Singh\ Rajput.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.ashutosh_disp_pic {
    background: url(../assets/images/team/Sagarika\ Malakar.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.dhruv_b_disp_pic {
    background: url(../assets/images/team/santanu.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}


.dhruv_s_disp_pic {
    background: url(../assets/images/team/Sharfan\ Safeer\ .jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.gurarmaan_disp_pic {
    background: url(../assets/images/team/Somraj\ Deb.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.harshit_disp_pic {
    background: url(../assets/images/team/sudarshan.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.himanshu_disp_pic {
    background: url(../assets/images/team/HimanshuGauravSingh_ResearchEexecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.ishaan_disp_pic {
    background: url(../assets/images/team/IshaanJain_Volunteer.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.jayati_disp_pic {
    background: url(../assets/images/team/JayatiMadan_Executive_Eventsandpublicity.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.kartik_disp_pic {
    background: url(../assets/images/team/KartikSharma_Executive.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}

.khyati_disp_pic {
    background: url(../assets/images/team/khyatikaria_design.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.kirti_disp_pic {
    background: url(../assets/images/team/KirtiBagri_DesignExecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.mohit_disp_pic {
    background: url(../assets/images/team/MohitGoswami_Eventsandpublicity.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.mudit_disp_pic {
    background: url(../assets/images/team/MuditChopra_ResearchExecutive.png);
    background-size: 200px;
    background-repeat: no-repeat;
}
.mudrankit_disp_pic {
    background: url(../assets/images/team/MudrankitGupta_EventsandPublicityExecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.samyak_disp_pic {
    background: url(../assets/images/team/SamyakJain_volunteer.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.shradha_disp_pic {
    background: url(../assets/images/team/Shradha_webdevelopementanddesignexecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.soutrik_disp_pic {
    background: url(../assets/images/team/SoutrikMandal_ResearchExecutive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.sujal_disp_pic {
    background: url(../assets/images/team/Sujaljain_webexecutive.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
}
.sukanya_disp_pic {
    background: url(../assets/images/team/SukanyaGhosal_Executive.jpeg);
    background-size: 200px;
    background-repeat: no-repeat;
}
